<!DOCTYPE html>
<html lang="en" ng-app="kanban">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>goKanban</title>

    <link href="/frontend/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/frontend/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet">
    <link href="/frontend/styles/main.css" rel="stylesheet">
</head>

<body ng-controller="KanbanCtrl">
    <div class="main">
        <div class="overlay" ng-if="loading">
            <div class="spinner"><i class="glyphicon glyphicon-refresh"></i></div>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">goKanban</span>
                </div>

                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" ng-model="searchPhrase" placeholder="Search...">
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: {{100.0/columns.length}}%"
                            ng-repeat="column in columns">
                            {{column.Name}}
                            <span class="pull-right">
                                <i ng-if="column.Tasks.length > column.Limit"
                                    class="glyphicon glyphicon glyphicon-list"
                                    ng-click="TaskOrder(column)"></i>
                                <i class="glyphicon glyphicon-plus" ng-click="AddEditTask({column: column})"></i>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td ng-repeat="column in columns"
                        class="tasks-container"
                        ng-include="'list.html'"></td>
                </tr>
            </table>

        </div><!-- /.container -->
    </div><!-- /#main -->

    <script type="text/ng-template" id="task.html">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{task.Title}}
                <span class="pull-right">
                    <div class="btn-group" uib-dropdown is-open="status.isopen">
                        <i class="menu glyphicon glyphicon-menu-hamburger"
                            uib-dropdown-toggle
                            ng-disabled="disabled"></i>
                        <ul uib-dropdown-menu role="menu"  aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem"><a ng-click="AddEditTask({task: task})">
                                <i class="glyphicon glyphicon-edit"></i> Edit</a>
                            </li>
                            <li class="divider"></li>
                            <li role="menuitem">
                                <a ng-click="DeleteTask(task)"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                            </li>
                        </ul>
                    </div>
                </span>
            </h3>
        </div>
        <div class="panel-body" ng-if="task.Description || task.Tags.length">
            <span ng-bind-html="task.DescriptionRendered | trustHtml" compile-template></span>
            <div class="progress" ng-if="task.TaskProgress">
                <div class="progress-bar"
                    role="progressbar"
                    ng-style="{width: 100*(task.TaskProgress.Done/(task.TaskProgress.ToDo + task.TaskProgress.Done)) + '%'}">
                    <span>{{ task.TaskProgress.Done }}/{{ task.TaskProgress.ToDo + task.TaskProgress.Done }}</span>
                </div>
            </div>
            <div class="tags" ng-if="task.Tags.length">
                <span class="label label-primary"
                    ng-repeat="tag in task.Tags">
                    {{tag.Name}}
                </span>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="list.html">
        <ul dnd-list="column.Tasks"
            class="tasks-list"
            dnd-drop="DndMoveToColumn(column, index, item)">
            <li ng-repeat="task in column.Tasks | filter:searchPhrase | limitTo:column.Limit"
                dnd-draggable="task"
                dnd-effect-allowed="move"
                dnd-moved="column.Tasks.splice($index, 1)"
                dnd-dragstart="info.SelectedTask = task;"
                dnd-draggable="task"
                ng-class="{selected: models.selected === task}"
                class="task panel panel-default"
                ng-include="'task.html'"></li>
            </li>
        </ul>
    </script>

    <script src="/frontend/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/frontend/node_modules/angular/angular.min.js"></script>
    <script src="/frontend/node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="/frontend/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="/frontend/node_modules/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="/frontend/scripts/main.js"></script>
</body>
</html>
