<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Order tasks</h4>
</div>

<div class="modal-body tasks-order">
    <ul class="tasks-list row"
        dnd-list="tasks"
        dnd-drop="DndMoveToColumn(column, index, item)">
        <li class="col-xs-6"
            ng-repeat="task in tasks"
            dnd-draggable="task"
            dnd-dragstart="parentScope.info.SelectedTask = task;"
            dnd-moved="tasks.splice($index, 1);"
            dnd-effect-allowed="move">
            <div class="task panel panel-default"
                ng-class="{'panel-disabled': $index >= column.Limit}">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{task.Title}}
                    </h3>
                </div>
            </div>
        </li>
    </ul>
</div>
