html, body {
    height: 100%;
}
.main {
    height: 100%;
}
.main .navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.table {
    padding-top: 10px;
    border-collapse: collapse;
    height: 100%;
    display: block;
}
.table td, table th {
    border: 1px solid #ddd;
}
.table tr:first-child th {
    border-top: 0;
}
.table tr:last-child td {
    border-bottom: 0;
}
.table tr td:first-child,
.table tr th:first-child {
    border-left: 0;
}
.table tr td:last-child,
.table tr th:last-child {
    border-right: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}
.overlay {
    display: table;
    background: rgba(51, 51, 51, .7);
    z-index: 10000
}
.overlay .spinner {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}
.overlay .spinner i {
    color: #fff;
    font-size: 100px;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
    to {
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg)
    }
}
@keyframes spin {
    from {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
    to {
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg)
    }
}
.label:not(:last-child) {
    margin-right: 4px;
}

.task .panel-heading {
    position: relative;
    padding: 0;
}
.task .panel-heading h3.panel-title {
    font-weight: bold;
    margin-right: 18px;
    padding: 5px;
}
.task .panel-heading div.btn-group {
    position: absolute;
    top: 6px;
    right: 6px;
}
.task .panel-heading i.menu {
    cursor: pointer;
    opacity: 0.6;
}
.task:hover .panel-heading i.menu {
    transition: opacity 0.33s;
    opacity: 1;
}
.task .panel-body {
    padding: 5px;
    overflow: hidden;
    word-break: break-all;
}
.task .panel-body label {
    margin-bottom: 0px;
    font-weight: normal;
}
.task .panel-body p {
    margin: 0 0 5px 0;
}
.task .panel-body .progress {
    height: 17px;
    margin: 3px 0;
    position: relative;
}
.task .panel-body .progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    font-size: 11px;
}
.task .panel-body ul, .task .panel-body ol {
    padding-left: 20px;
}
.task .dropdown-menu>li>a {
    padding: 3px 10px;
}

*[ng-click] {
    cursor: pointer;
}
.tasks-container {
    padding: 0 !important;
}
.tasks-container .tasks-list {
    padding: 8px;
    list-style: none;
    margin: 0;
    min-height: 200px;
}

.dndDraggingSource {
    opacity: 0.5;
}

.dndDragover .dndPlaceholder {
    list-style: none;
    height: 30px;
    border: 1px dashed #ddd;
    border-color: #ddd;
    margin-bottom: 20px;
    background-color: #fefefe;

    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

ul.tasks-list li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.tasks-order ul.tasks-list {
    padding-left: 0;
}

.tasks-order ul.tasks-list li {
    list-style: none;
}

.tasks-order ul.tasks-list li.dndPlaceholder {
    width: 33.333%;
    float: left;
}

.tasks-order ul.tasks-list li .panel-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tasks-order ul.tasks-list li .panel-disabled {
    opacity: 0.4;
}

form #description {
    min-height: 200px;
}

.modal-xlg {
    width: 90%;
    max-width: 1500px;
}

.form-control-color {
    display: block;
    width: 100%;
    line-height: 1.42857143;
}
.form-control-color .color-pick {
    width: 34px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #aaa;
    display: inline-block;
    margin: 6px 6px 0 0;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}
.form-control-color .color-pick.selected {
    border-color: #333;
}
